{% extends "index.html" %}

{% load static %}



{% block content %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <title>Document</title>
  </head>
    <a class="logis" href="{%url 'main'%}">
        <img class="logo" src="{% static 'images/logo.png' %}"/>
    </a>
    <div class="cargo">
      <form action="{%url 'main'%}" class="inKey" method="post">
        {% csrf_token %}
        <label style="color: #44868d;font-size: 17px;" class="api">api key</label>
        <input style="color: #ffffff;background-color: #1d1d1dba;"class="apiInput;" name="api">
        <label style="color: #44868d;font-size: 17px;"class="secrt">Secret key</label>
        <input style="color: #ffffff;background-color: #1d1d1dba;"class="secretInput" name="secret">
        <button type="submit" class="send">send</button>
      </form>
  </div>

    <div class="buttons"  >
      <a href="{%url 'rec'%}"><button  class="btn" >Recommend currency</button></a>
      <a href="{%url 'auto'%}"><button class="btn">  Autopilot mod   </button></a>
      <a href="{%url 'auto'%}"><button class="btn">Recommend to buy  </button></a>
      <a href="{%url 'auto'%}"><button class="btn">Recommend to sell </button></a>
    </div>
    

{% endblock %}

